doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://rawgit.com/pshihn/rough/master/dist/rough-async.js")
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    title generator
    link(rel="stylesheet" href="css/app.css")
  body
    include partials/header
    block content
    include partials/footer
