/**
 * Settings
 */

@import "settings/settings.index";

/**
 * Tools
 */
@import "tools/tools.index";

/**
 * Utilities
 */
@import "utilities/utilities.index";

/**
 * Components
 */
@import "components/components.index";

/**
 * Objects
 */
@import "objects/objects.index";

/**
 * Trumps
 */

@import "trumps/trumps.index";


@font-face {
  font-family: 'Daniel font';
  src: url('./fonts/Daniel-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Daniel font';
  src: url('./fonts/Daniel-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Daniel font';

  src: url('./fonts/Daniel-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

$color-blue: #1976D2;
$color-green: #689F38;

canvas{
  border: 1px solid #DDD;
  box-shadow: -7px 14px 51px -28px rgba(0,0,0,0.75);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: white;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Daniel font';
  font-weight: bold;


  margin: 0em;
  margin-top: 0.4em;
  color: #1976D2;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(255,255,255,1.0);
}

.flex-parent{
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
}

.unselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttons .btn{
  height: 60px;
  background-color: white;
  font-size: 1em;
  margin: 2em;
  width: 10em;

  .shape{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px, solid;
    border-radius: 20cm;
    color: #1976D2;
    font-weight: bolder;
    border-width: 0.5em;
    border-color: #1976D2;
    border-style: solid;
    
    .content{
      position: relative;
      user-select: none;
    }

    cursor: pointer; 
  }

}

.relative{
  position: relative;
  div {
    position: absolute;
    width: auto;
    height: auto;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.btn div:hover{
  animation: buttonHover 0.1s ease;
  animation-fill-mode: forwards;
}

.btn div:active{
  animation: buttonClick 0.1s ease;
  animation-fill-mode: forwards;
}

@keyframes buttonClick{
  0%{
    top:0;
    bottom: 0;
  }
  50%{
    top:    5px;
    bottom: 5px;
  }
  100%{
    top: 5px;
    bottom: 5px;
  }
}

@keyframes buttonHover{
  0%{
    left: 0;
    right: 0;
  }
  50%{
    left: -5px;
    right: -5px;
  }
  100%{
    left: 0;
    right: 0;
  }
}

.btn .shape.save{
  color: #689F38;
  border-color: #689F38;
}

.belo{
  justify-content: center;
  margin: 1em;
  margin-top: 0px;
  font-weight: bolder;
  font-size: 1em;
  align-items: center;
  color: $color-blue;
  label {
    vertical-align: middle;
  }
}

.h-align{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-align.text{
  color: $color-green;
  * span{
    background-color: $color-green;
    border-color: $color-green;
  }
}


.checkbox.debug span{
  background-color: $color-blue;
  border-color: $color-blue;
}

.boxes{
  color: #EF6C00;
}
.checkbox.boxes{
  span {
    background-color: #EF6C00;
    border-color: #EF6C00;
  }
}

.checkbox{
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
  margin: 0.4em;

  input{
    position: relative;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
  }

  span{
    pointer-events: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: $color-blue;
    animation: checkOut 0.05s ease;
    animation-direction: normal;
    animation-fill-mode: initial;
    top:50%;
    bottom:50%;


  }

  input:checked ~ span{
    animation: check 0.05s ease;
    animation-direction: normal;
    animation-fill-mode: initial;
    top:0%;
    bottom:0%;
  }
  
}



@keyframes checkOut {
  0%{
    top:0%;
    bottom:0%;
  }
  80%{
    top:60%;
    bottom:60%;
  }
  100% {
    top:50%;
    bottom:50%;
  }
}

@keyframes check {
  0%{
    top:50%;
    bottom:50%;
  }
  80%{
    top:-10%;
    bottom:-10%;
  }
  100% {
    top:0%;
    bottom:0%;
  }
}

.label {
  @extend .belo;

  span {
      color:white;
      height: 100%;
      padding: 1em;
  } 
  
}

.label div span{
  border-width: 0.2em;
  border-style: solid;
}

.label div span{

  border-left-style: none;
  border-right-style: none;

  &:first-child{
    border-left-style: solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  &:last-child{
    border-right-style: solid;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}

.label div{
  margin-bottom: 1em;
  margin-top: 0.5em;
}

span.button{
  border-color: #6D4C41;
  color: #6D4C41;
}

span.dropdown{
  border-color: #558B2F;
  color: #558B2F;
}

span.checkboxa{
  border-color: #006064;
  color: #006064;
}

span.radiobutton{
  border-color: #1565C0;
  color: #1565C0;
}

span.textfield{
  border-color: #EF6C00;
  color: #EF6C00;
}

span.picture{
  border-color: #D50000;
  color: #D50000;
}

span.textblock{
  border-color: #6A1B9A;
  color: #6A1B9A;
}
