/**
 * Settings
 */
@import "settings/settings.index";

/**
 * Tools
 */
@import "tools/tools.index";

/**
 * Utilities
 */
@import "utilities/utilities.index";

/**
 * Components
 */
@import "components/components.index";

/**
 * Objects
 */
@import "objects/objects.index";

/**
 * Trumps
 */
@import "trumps/trumps.index";

$color-blue: #1976D2;
$color-green: #689F38;

canvas{
  border: 1px solid #DDD;
  box-shadow: -7px 14px 51px -28px rgba(0,0,0,0.75);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: white;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0em;
  color: #1976D2;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(255,255,255,1.0);
}

.flex-parent{
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
}
 
button{
  height: 60px;
  background-color: white;
  font-size: 1em;
  width: 10em;
  border: 20px, solid;
  border-radius: 20cm;
  margin: 2em;
  color: #1976D2;
  font-weight: bolder;
  border-width: 0.5em;
  border-color: #1976D2;
}

.save{
  color: #689F38;
  border-color: #689F38;
}

.belo{
  justify-content: center;
  margin: 1em;
  margin-top: 0px;
  font-weight: bolder;
  font-size: 1em;
  align-items: center;
  color: $color-blue;
  label {
    vertical-align: middle;
  }
}

.checkbox{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 25px;
  height: 25px;
  margin: 0.4em;

  input{
    position: relative;
    margin: 0px;
    padding: 0px;
    opacity: 1;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
  }

  span{
    pointer-events: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-radius: 10px;
    border-width: 4px;
    border-color: $color-blue;
    background-color: white;
  }

  input:checked ~ span{
    background-color: $color-blue;
  }

  
}

.label {
  @extend .belo;

  span {
      color:white;
      height: 100%;
      padding: 1em;
  } 
  
}

.button{
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: #6D4C41;
  
}

.dropdown{
  background-color: #558B2F;
}

span.checkboxa{
  background-color: #006064;
}

.radiobutton{
  background-color: #1565C0;
}

span.textfield{
  background-color: #EF6C00;
}

.picture{
  background-color: #D50000;
}

.textblock{
  background-color: #6A1B9A;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}
