extends layouts/layout

block content
  dif(class="flex-parent")
    h1 MockGen
  dif(class="flex-parent")
    button(class="generate") Generate
    button(class="save") Save
  div(class="flex-parent belo")
    label Debug
    div(class="checkbox")
      input(type="checkbox", name="debug", class="Debug")
      span()
  div(class="flex-parent label")
    div
      span(class="button") Button
      span(class="dropdown") Dropdown
      span(class="checkboxa") Checkbox
      span(class="radiobutton") RadioButton
      span(class="textfield") Textfield
      span(class="picture") Image
      span(class="textblock") Textblock
  div(class="flex-parent")
    canvas(class="canvas")
