extends layouts/layout

block content
  dif(class="flex-parent")
    h1 MockGen
  dif(class="flex-parent")
    button(class="generate") Generate
    button(class="save") Save
  div(class="flex-parent")
    canvas(class="canvas")
